<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:with="formError=${#fields.hasErrors('${todoForm.*}')}">
<head th:replace="~{fragments/layout :: head(#{todos.form.pageTitle(${todo.title})}, ${formError})}">
    <meta charset="UTF-8">
    <title>todo edit</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header('plans')}"></header>

<main id="main" tabindex="-1">
    <nav class="breadcrumb" th:attr="aria-label=#{layout.breadcrumb.label}">
        <ol>
            <li><a th:href="@{/plans}" href="/plans" th:text="#{breadcrumb.plans}">plans</a></li>
            <li><a th:href="@{/plans/{id}(id=${todo.planId})}" href="#"
                   th:text="${plan != null} ? ${plan.title} : #{breadcrumb.plans}">plan</a></li>
            <li><a th:href="@{/plans/{id}/todos(id=${todo.planId})}" href="#" th:text="#{breadcrumb.todos}">todos</a></li>
            <li><a th:href="@{/todos/{id}(id=${todo.id})}" href="#" th:text="${todo.title}">todo</a></li>
            <li aria-current="page" th:text="#{breadcrumb.edit}">edit</li>
        </ol>
    </nav>
    <div th:replace="~{fragments/layout :: flash}"></div>
    <h1 th:text="#{todos.form.heading}">edit</h1>
    <p class="note" th:text="#{todos.form.note}">note</p>

    <form method="post" novalidate class="form"
          th:action="@{/todos/{id}(id=${todo.id})}" th:object="${todoForm}">
        <input type="hidden" name="_method" value="put">
        <div th:replace="~{fragments/layout :: errorSummary}"></div>
        <th:block th:replace="~{fragments/todo :: todoFields(${priorities})}"></th:block>
        <div class="form-actions">
            <button type="submit" class="btn" th:text="#{common.saveEdit}">save</button>
            <a th:href="@{/todos/{id}(id=${todo.id})}" href="#" th:text="#{common.cancel}">cancel</a>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
