<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{error.404.title}, false)}">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header('none')}"></header>

<main id="main" tabindex="-1">
    <h1 th:text="#{error.404.title}">404</h1>
    <p th:text="#{error.404.body}">error</p>
    <ul class="link-row">
        <li><a class="btn btn--secondary" th:href="@{/}" href="/" th:text="#{common.home}">home</a></li>
        <li><a class="btn btn--secondary" th:href="@{/plans}" href="/plans" th:text="#{common.planList}">plans</a></li>
    </ul>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
